<!DOCTYPE html>
<html>
<head>
  {% extends "emailSender_app/base.html" %}
   <title>Email Sender App</title>
</head>
<body>
  
  {% block content %} 
    <div class='emailForm'>
      <form  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class='emailSenderbtn_send' type="submit" value="Submit"/>
      </form>
    </div>
    <div class='info_form'><h2> How to get/find your App Password</h2>
    Gmail- Go to your Google Account.
Select Security.
Under "Signing in to Google," select App Passwords. You may need to sign in. If you don’t have this option, it might be because:
2-Step Verification is not set up for your account.
2-Step Verification is only set up for security keys.
Your account is through work, school, or other organization.
You turned on Advanced Protection.
At the bottom, choose Select app and choose the app you using and then Select device and choose the device you’re using and then Generate.
Follow the instructions to enter the App Password. The App Password is the 16-character code in the yellow bar on your device.
</div>
  {% endblock %}
</body>
</html>